.container {
    width:300px;
    background-color:white;
    margin: auto;
    margin-top: 50px;
}
.left-box:hover ,.middle-box:hover ,.right-box:hover {
    background-color: indianred;
    color: white;
}
.left-box , .middle-box,.right-box  {
    float:left; 
    background:white;
    padding: 20px;
    width: 30px;
    border: 1px solid indianred;
}
.left-box {
    border-top-left-radius : 8px;
    border-bottom-left-radius : 8px;
}
.middle-box {
    height: 18px;
}
.right-box {
    border-top-right-radius : 8px;
    border-bottom-right-radius : 8px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
::placeholder  {
    width:  50px;
}